body {
    margin: 0;
    padding: 0;
  }

/* #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
} */

#menu {
    position: absolute;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 25px 25px 520px;
}

/* #toRoute{
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    margin: 10px 25px 25px 520px;
    right:0;
}

.distance-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}
      */
/* .distance-container > * {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
} */

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%-70px; 
}
.marker {
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.mapboxgl-popup-content {
    max-width: 500px;
    text-align: center;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.filter-group {
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 600;
    position: absolute;
    top: 80px;
    right: 10px;
    bottom: 0;
    z-index: 1;
    border-radius: 0px;
    width: 150px;
    color: rgba(0,0,0,0.75);
    box-shadow:0 0 0 2px rgba(0,0,0,0.1);
}
.filter-group input[type='checkbox']:first-child + label {
    border-radius: 3px 3px 0 0;
}

.filter-group label:last-child {
    border-radius: 0 0 3px 3px;
    border: none;
}

.filter-group input[type='checkbox'] {
    display: none;
}

.filter-group input[type='checkbox'] + label {
    background-color: #dbdbdb;
    display: block;
    cursor: pointer;
    padding: 10px;
    border-bottom: 0px solid rgba(0, 0, 0, 0.1);
    color: rgba(0,0,0,0.7);
}

.filter-group input[type='checkbox'] + label {
    background-color: #dbdbdb;
    text-transform: capitalize;
}
.filter-group input[type='checkbox'] + label:hover{
    background-color: #eee;
} 
.filter-group input[type='checkbox']:checked + label {
    background-color: #fff;
    color: rgba(0,0,0,0.75);
}
.filter-group input[type='checkbox']:checked + label:before {
    content: '✅';
    margin-right: 5px;
}
